# IDE files
.idea/

# Log files
*.log*
!/logs/app_logs/.keep
!/logs/server_logs/.keep

# Compiled files
*.pyc
*__pycache__*

# Migration files
/env_setup/migrations/**
!/env_setup/migrations/__init__.py
