<div>
    <div class="header logo">
        <span>
            Pure Sales Tools Vault
        </span>
    </div>
    <div class="row tileWrapper">
        
        <div>
            <a href="https://dev.salestools.purestorage.com/fr-sizer/#">
                <div class="flashRestoreButton">
                    <div class="image"></div>
                    <span class="material-icons">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </a>
        </div>

        <div>
            <div class="flashArrayButton" (click)="openPureFlashArray()">
                <div class="image"></div>
                <span class="material-icons">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                </span>
            </div>
        </div>

    </div>
</div>