/* You can add global styles to this file, and also import other style files */
.text-center {
    text-align: center;
}

html div p span{
    font-family: Inter-SemiBold !important;
}

body {
    // font-family: Inter-Regular;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-size: 13px;
}