<div class="loginContainer">
	<div class="col-md-12">
		<div class="row" [ngStyle]="{'height':loginHeight+'px'}">
			<div class="pl-0 pr-0">
				<div class="bgImg">
				<div class="loginSection text-center">

					<!-- <form [formGroup]="loginForm"> -->
						<!-- <div class="my-3">
							<img src="../../../assets/images/purestorage_logo.png" alt="">
						</div> -->
						<div class="assessmentLogin">
						<b>LOGIN PORTAL</b>	
						</div>
						<div class="mt-3">
							<button class="signBtn" (click)="oktaLogin();">
								<i class="fa fa-circle"></i>
							    <b>Sign In With Okta</b>
							</button>
						</div>

						<!-- <app-ajax-loader [loaderId]="'LOCAL_LOGIN'" [config]="{'hideOnError': true}"></app-ajax-loader>
						<app-ajax-loader [loaderId]="'OKTA_LOGIN'" [config]="{'hideOnError': true}"></app-ajax-loader>
 -->
					<!-- </form> -->
				</div>
				</div>
			</div>
			<div>
				<p class="copyright text-center mb-0" style="width: 100%;">Copyright © 2021 Pure Storage, Inc. </p>
			</div>
		</div>
	</div>
</div>
