<div>
    <div class="header logo">
        <span>
            Pure Sales Tools Vault
        </span>
    </div>
    <div class="row tileWrapper">

        <div *ngIf="landingResult['fr-sizer'] !== undefined">
            <a href="https://dev.salestools.purestorage.com/fr-sizer">
                <div class="flashRestoreButton">
                    <div class="image"></div>
                    <span class="material-icons">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </a>
        </div>

        <div *ngIf="landingResult['fb-sizer'] !== undefined">
            <a href="https://dev.salestools.purestorage.com/fb-sizer">
                <div class="flashBladeButton">
                    <div class="image"></div>
                    <span class="material-icons">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </a>
        </div>

        <div *ngIf="landingResult['fa-sizer'] !== undefined">
            <a href="https://dev.salestools.purestorage.com/fa-sizer">
                <div class="flashArrayButton">
                    <div class="image"></div>
                    <span class="material-icons">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </span>
                </div>
            </a>
        </div>

    </div>
</div>
